@model IEnumerable<ListAllDoctorsViewModel>

<link rel="stylesheet" href="~/css/customcss.css"/>

@*<div class="row offset-md-1">

        @foreach (var doc in this.Model)
        {
            <div class="col-md-3 m-4">
                <div class="card" style="width: 18rem;">
                    @if (String.IsNullOrEmpty(doc.ImagePath) || doc.IsImageApproved == false)
                    {
                        <img class="card-img-top" src="~/images/unknowndoctor.jpg" alt="Card image cap" style="width: 286px; height: 286px">
                    }
                    else
                    {
                        <img class="card-img-top" src="~/images/@doc.ImagePath" alt="Card image cap" style="width: 286px; height: 286px">
                    }

                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@doc.FullName</h5>
                        <p class="card-text text-center">@doc.Specialty</p>
                        <a asp-controller="Doctors" asp-action="ViewDoctor" asp-route-id="@doc.Id" class="btn btn-primary text-center">View</a>
                        <a asp-controller="Schedule" asp-action="FreeHours" asp-route-id="@doc.Id" class="btn btn-primary text-center">Appointment</a>
                    </div>
                </div>
            </div>

        }

    </div>*@

<!--team section-->
<section class="team-section section text-center">
    <div class="container">
        <div class="section-title text-center mb-5">
            <h3>
                Our Expert
                <span>Doctors</span>
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illo, rerum
                <br>natus nobis deleniti doloremque minima odit voluptatibus ipsam animi?
            </p>

            <button class="btn btn-style-one view-more-doc mt-5 search-btn">Search</button>

            <form class="form-check col-md-6 offset-md-3 offet-sm-1 col-sm-12 mt-5 search-doc-form" method="get" asp-controller="Doctors" asp-action="SearchByName">
                <h2 class="heading-margin text-center mb-3">Search Doctor By Name</h2>
                <div class="form-group">
                    <input  name="doctorName" class="form-control" placeholder="Michael James e.g.">
                    
                </div>


                <div class="d-flex justify-content-center">
                    <input class="btn btn-style-one mt-3 text-center" type="submit" value="Find" />
                </div>

            </form>
        </div>
        <div class="row">
            @foreach (var doc in this.Model)
            {
            <div class="col-md-4 col-sm-6 col-xs-12 single-doc" style="display:none">
                <div class="team-member">
                    @if (String.IsNullOrEmpty(doc.ImagePath) || doc.IsImageApproved == false)
                    {
                        <img src="/images/unknowndoctor.jpg" alt="doctor" class="img-responsive">
                    }
                    else
                    {
                        <img src="~/images/@doc.ImagePath" alt="doctor" class="img-responsive">
                    }

                    <div class="contents text-center">
                        <h4>@doc.FullName</h4>
                        <p class="text-info">@doc.Specialty</p>
                        <a asp-controller="Doctors" asp-action="ViewDoctor" asp-route-id="@doc.Id" class="btn btn-main">View</a>
                        <a asp-controller="Schedule" asp-action="FreeHours" asp-route-id="@doc.Id" class="btn btn-main">Make Appointment</a>
                    </div>
                </div>
            </div>
            }
            
            
            
        </div>
    </div>
    <button class="btn btn-style-one view-more-doc mt-5">View More</button>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>

    $(".single-doc").slice(0, 3).show();
    $(".view-more-doc").on("click", function () {
        $(".single-doc:hidden").slice(0, 3).slideDown()
    })

    $(".search-btn").on("click", function () {
           $(".search-doc-form").toggle()
    })
</script>