@model ICollection<ListAllSchedulesViewModel>

<link rel="stylesheet" href="~/css/customcss.css"/>    

    <div class="row" id="manage-div">

        <partial name="_SideNavBarDoctors" />

        <div class="row" id="inner-manage-div">

            @if (!this.Model.Any())
            { 
                <h4>There is no shedules</h4>
            }

            @foreach (var day in this.Model)
            {
            <div class="col-md-2">
                <div class="d-flex flex-column">
                    <h6>@day.NameOfDay</h6>

                    @foreach (var h in day.Hours)
                    {
                        @if (!h.IsFree)
                        {
                            <a asp-controller="Schedule" asp-action="SavedHour" asp-route-ID="@h.HourId" class="btn btn-secondary">@h.Hour</a>
                            <br />
                        }
                        else
                        {
                            <a asp-controller="Patient" asp-action="SaveHour" asp-route-ID="@h.HourId" class="btn btn-success disabled">@h.Hour</a>
                            <br />
                        }

                    }
                </div>
            </div>
                
            }
        </div>

        <div>

        </div>

    </div>
