@model ICollection<ListAllSchedulesViewModel>
    
    <div class="d-flex">

        <partial name="_SideNavBarDoctors" />

        <div class="row">
            @foreach (var day in this.Model)
            {
            <div class="col-md-2">
                <div class="d-flex flex-column">
                    <h6>@day.NameOfDay</h6>

                    @foreach (var h in day.Hours)
                    {
                        @if (!h.IsFree)
                        {
                            <a asp-controller="Patient" asp-action="SaveHour" asp-route-ID="@h.HourId" class="btn btn-success">@h.Hour</a>
                            <br />
                        }
                        else
                        {
                            <a asp-controller="Patient" asp-action="SaveHour" asp-route-ID="@h.HourId" class="btn btn-secondary disabled">@h.Hour</a>
                            <br />
                        }

                    }
                </div>
            </div>
                
            }
        </div>

        <div>

        </div>

    </div>
